<mat-grid-list cols="1" rowHeight="100%" class="body">
  <mat-grid-tile>
    <div fxLayout="column" class="containerBorder">
      <h3>Sign In</h3>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" #userName required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" #userPassword required>
      </mat-form-field>

      <!-- Calling SignIn Api from AuthService -->
      <div fxFlexAlign="center" fxLayout="column" fxLayoutAlign="space-around center">
        <div>
          <button mat-stroked-button color="primary" type="button"
            (click)="authService.SignIn(userName.value, userPassword.value)">
            Log in
          </button>
        </div>
        <div fxFlexAlign="center">
          <span>Or</span>
        </div>
        <!-- Calling GoogleAuth Api from AuthService -->
        <div>
          <button mat-stroked-button color="primary" type="button" (click)="authService.GoogleAuth()">
            <img class="iconSize" src="../../../assets/images/googleIcon.svg">
            Log in with Google
          </button>
        </div>
      </div>
      <div style="margin-top: 30px;">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
      <div>
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>




<div class="displayTable">
  <div class="displayTableCell">

  </div>
</div>
